<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Hometown Investors</title>
        <meta name="description" content="Sell your home FAST for cash! No fees &amp; pay no commissions with Hometown Investors. We buy houses in Boise and surrounding areas as is.">

        <link rel="icon" type="image/x-icon" href="../img/favicon.png" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">

        <% inc/header.html %>
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">

                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase"><img class="main-logo" src="../img/logo-white.webp" alt="Hometown Investors Logo" width="800" height="311"></h1>
                        <!-- <a class="btn btn-primary" href="#signup">Submit your interest</a> -->
                    </div>
                </div>
            </div>
        </header>
        <section class="projects-section bg-light" id="about">
            <div class="container px-4 px-lg-5">
                
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6 mb-0"><img class="img-fluid" src="img/img-001.webp" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Who We Are</h4>
                                    <p class="mb-0 text-white-50">We’re a family-owned and operated business with a love for all things real estate and bringing value to others.<br><br></p>
                                    <p class="mb-0 text-white-50">
                                    We invest in single-family and multi-family homes throughout the northwest and southeast.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center" id="offers">
                    <div class="col-lg-6 mb-0"><img class="img-fluid" src="img/img-002.webp" alt="..." /></div>
                    <div class="col-lg-6 ">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">We'll Buy Your Home</h4>
                                    <p class="mb-0 text-white-50">We specialize in purchasing homes that have had no traction on the MLS. Our unique approach involves creative strategies, allowing us to tailor agreements based on your needs, equity, and desired outcome.<br><br></p>
                                    <p class="mb-0 text-white-50">
                                   If you sell to us you can enjoy a hassle-free process. We pay your asking price, cover all closing costs and the realtor's commission, and don't ask for repairs or concessions. <br><br></p>  <p class="mb-0 text-white-50">Our Cash Offer Program provides a fair, all-cash offer within 24 hours, and we offer flexibility in terms and timeline. Trust us to handle the closing smoothly through a reputable title company.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="img/dq-boot-01.webp" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">LENDING</h4>
                                    <p class="mb-0 text-white-50">Another example of the benfits, or anything else, along with a description.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="fa fa-file-signature fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-2">Submit your interest to join...</h2>
                        <p class="mb-5 text-white-50"></p>
                        <% inc/form.html %>
                    </div>
                </div>
            </div>
        </section> -->
        <% inc/footer.html %>
        <% inc/includes.html %>
    </body>
</html>